# Project exclude paths
*.iml
/book-backend/src/main/resources/static/
/.idea/
/book-backend/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr