.App {
    text-align: center;
    justify-content: center;
}

.book-gallery {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.p-font {
    font-weight: bold;

}

.no-book-found {
    height: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#outlined-required {
    background-color: beige;
}

.form {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.link {
    justify-content: right;
    display: flex;
}

.card {
    padding-top: 10px;
}

#book-img {
    height: 150px;
    width: 120px;
    margin-bottom: -20px;
    pointer-events: auto;
}


.rating {
    margin-top: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.book-details {
    background-color: cyan;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.book-details .details {
    margin-right: 20px;
    align-items: flex-start;
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}


.search {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

#search-book {
    background: white;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#book-img-details {
    height: 180px;
    width: 144px;
    pointer-events: auto;
    margin-left: 20px;
    margin-right: 200px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card-container {
    border: 1px solid #ccc;
    border-radius: 4px;
}






